@tailwind components;

@layer components {
    .formGroup {
        @apply flex flex-wrap items-center gap-4;
    }

    .input_md,
    .input_sm {
        @apply border border-light-purple py-2 px-4 max-w-200 text-black rounded-3xl outline-none text-sm md:text-base;
    }

    .input_sm {
        @apply max-w-180;
    }

    /* FILE INPUT */
    .input_file {
        @apply hidden;
    }

    .file_label {
        @apply border border-white bg-black px-2 py-1.5 rounded-md cursor-pointer text-sm md:text-xl text-white;
    }


    /* BUTTONS */
    .button_sm {
        @apply border-none outline-offset-4 rounded-3xl py-1.5 px-5 text-sm md:text-lg text-white;
    }

    .button_purple {
        @apply outline-1 outline-light-purple bg-light-purple;
    }

    .button_blue {
        @apply outline-1 outline-light-blue bg-light-blue;
    }

    .button_cancel {
        @apply outline-1 outline-light-red bg-light-red;

    }

    .select_md {
        @apply appearance-none border border-blue-200 rounded-xl text-black py-1 px-3 min-w-120
        appearance: none;
    }

    .select_md:focus,
    .select_md:hover {
        @apply outline-none
    }

    .formBg{
        height:100%;
        display: grid;
        place-items: center;
        background-image: url("../images/FormBg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .blurBg {
        position: relative; 
        isolation: isolate;
        padding: 2rem;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }
    
    .blurBg::before {    
          content: "";
          position: absolute;
          background-color: rgb(47, 46, 123);
          z-index: -1;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.60;
          filter: blur(10px);
    }
}