@tailwind base;
@tailwind components;
@tailwind utilities;


/* TYPOGRAPHY */
.text-ellipse {
    @apply max-w-200 text-ellipsis whitespace-nowrap overflow-hidden;
}


.absolute-center {
    @apply top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
}

.absolute-bottom-center {
    @apply bottom-0 left-2/4 -translate-x-2/4;
}

/* MENU BUTTON */
.menu {
    @apply border border-gray-500 py-1 px-4 bg-royalblue rounded-3xl text-slate-100;
}


/* Containers*/
.formContainer {
    @apply rounded-xl p-4 bg-purple-900 border border-purple-600 text-white;
}

@layer components {
    .folder--nav {
        @apply mt-24 text-slate-100;
        background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.4)), url("../images/folder--navbar-bg1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        max-height: 100vh;
    }

    .gallary{
        @apply min-h-screen;
        background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.4)), url("../images/gallary-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
}